@CHARSET "UTF-8";

#outer-container {
	width: 100%;
  	height: 100%;
}

#content-container {
	padding-bottom: 50px;
	padding-top: 120px;
}

#header-container {
	background-color: white;
}

#menu-container {
}

#body-container {
}

#footer-container {
	background-color: rgb(175, 175, 175);
	text-align: center;
}