@CHARSET "UTF-8";

.news-title {
	/*text-align: center;*/
	/*font-size: 22pt;*/
	display: inline-block;
	font-weight: 600;
}

.author {
	font-size: 12pt;
	color: sienna;
	display: inline-block;
	/*text-align: right;*/
	margin-left: 10px;
	font-style: italic;
}

.tags {
	font-size: 11pt;
	color: lightslategrey;
	text-align: right;
}

.modification-date {
	text-decoration: underline;
	/*margin-top: 15px;*/
  	/*float: right;*/
  	text-align: right;
}

.news-preview-box .panel-footer {
	text-align: right;
}
.news-preview-box .panel-footer * {
	display: inline-block;
	margin: 0px 2px;
}

.news-full-text {
	font-size: 14pt;
	margin-top: 20px;
	text-align: left;
  	text-indent: 25px;
}

.news-preview-box {
	margin: 10px;
	margin-top: 30px;
}

.news-preview-box  .comments {
	color: red;
}

#no-result-block {
	text-align: center;
}

.new-comment-form {
	text-align: right;
}

.new-comment-form textarea {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
}

.pagination a {
	min-height: 34px;
}

.delete-comment-form {
	display: inline-block;
	float: right;
  	margin-top: -10px;
  	margin-right: -15px;
}

#input-title {
	width: 250px
}

#short-input {
	width: 90%;
	height: 50px;
}

#full-input {
	width: 90%;
	height: 350px;
}

.admin-form {
	display: inline-block;
	margin: 2px;
}

#admin-form-container {
	text-align: right;
}

.admin-form .modal-body {
	text-align: left;
}
